.sidebar {
  height: 100vh;
  background: rgb(248, 249, 250);
  transition: all 0.3s ease;
}

.overflowAuto {
  overflow-y: auto;
}

.chatHistory {
  max-height: calc(100vh - 250px); /* Adjust as needed */
  /* overflow-y: auto; */
}

.dateLabel {
  font-size: 13px;
  font-weight: 600;
  color: #888;
  padding: 8px 10px 4px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.chatTitle {
  display: inline-block;
  max-width: 200px; /* Adjust based on your layout */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.closeButton {
  border: none;
  padding: 0;
  background: transparent;
  margin-bottom: 20px;
}

/* Chat window */
.headers {
  position: sticky;
  top: 0;
  z-index: 10;
}

.mobileHeader {
  position: sticky;
  top: 0;
  background: white;
}

.chatWindow {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 40px;
  width: auto;
  margin: 3px auto;
}

.tabs {
  border-bottom: none;
  background-color: rgb(248, 249, 250);
  padding: 10px 20px 0;
}

.tabButtons {
  width: 80%;
}

.active {
  width: 48%;
  border: none;
  background-color: var(--primary-color) !important;
  padding: 10px;
  color: white !important;
  border-radius: 10px 10px 10px 10px !important;
  transition: all 0.3s;
}

.inActive {
  width: 48%;
  border: 1px solid var(--primary-color) !important;
  padding: 10px;
  color: var(--primary-color) !important;
  border-radius: 10px 10px 10px 10px !important;
  transition: all 0.3s;
}

.inActive:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none;
}

/* Chat window */

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px 100px;
}

.bgLogo {
  width: 10rem;
  height: auto;
}

.inputContainer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  border-top: 1px solid #dee2e6;
  background: white;
  z-index: 10;
}

.searchInput {
  border-radius: 50px;
}

.searchInput .formControl {
  border-radius: 50px;
  padding: 10px 15px;
  font-weight: 500;
  border: none;
  background-color: #f4f4f4;
}

.searchInput .formControl::placeholder {
  font-weight: 400;
  color: #848484;
}

.searchInput .formControl:focus {
  border: none;
  background-color: #f4f4f4;
  box-shadow: none;
}

.searchButton {
  background: transparent;
  border-radius: 25px;
  padding: 0 20px;
  color: var(--primary-color);
  border: none;
  transition: all 0.3s;
}

.searchButton:hover {
  background-color: #f4f4f4;
}

.searchButton:disabled {
  color: #848484;
}



.avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #b7b7b7;
}

.userAvatar{
  position: relative;
}

.popularQuestions {
  padding: 20px;
}

.questionCard {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #f4f4f4 !important;
  border-radius: 15px !important;
  border: none;
}

.questionCard:hover {
  background-color: #e7e7e7 !important;
}

.chatHistory {
  padding: 10px 0;
}

.chatHistoryItem {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  position: relative;
}

.chatHistoryItem .right {
  position: relative;
}

.chatHistoryItem .right .optionsBtn {
  display: none;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding-left: 20px; /* space for the blur background */
  overflow: visible;
}

.chatHistoryItem .right .optionsBtn::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: #e9ecef;
  backdrop-filter: blur(16px);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: -1;
}


.chatHistoryItem:hover {
  background: #e9ecef;
}

.chatHistoryItem:hover.chatHistoryItem .right .optionsBtn{
  display: block;
}

.chatHistoryItem.SelectedItem{
  background-color: #e9ecef;
}

.renameInput {
  width: 100%;
  font-size: 14px;
  padding: 2px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.optionsMenu {
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 120px;
  z-index: 100;
}

.optionsMenuTop {
  position: absolute;
  right: 0;
  bottom: 100%; /* places the bottom of menu at top of parent */
  margin-bottom: 8px; /* optional spacing */
  background: white;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 120px;
  z-index: 100;
}

.optionsMenuTop button,
.optionsMenu button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

.optionsMenuTop button:hover,
.optionsMenu button:hover {
  background: #f0f0f0;
}

.message {
  display: flex;
  margin: 2px 0;
}

.userMessage {
  justify-content: flex-end;
}

.aiMessage {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.messageContent {
  border-radius: 10px;
  word-wrap: break-word;
}

.userMessage .messageContent {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: white;
  max-width: 60%;
  border-top-right-radius: 0;
}

.userMessage .messageContent p{
  margin-bottom: 0;
}

.aiMessage .messageContent {
  padding: 2px 15px;
  /* background-color: #f9f9f9; */
  color: black;
  max-width: 70%;
  border-top-left-radius: 0;
}

.aiMessage .messageContent:last-child {
  margin-bottom: 0;
}

.aiMessage .messageContent h3{
  font-weight: 700;
}

.aiMessage .messageContent p{
  font-weight: 400;
}

.responseOptions {
  display: flex;
  gap: 5;
}

.responseOptions button {
  align-self: flex-start;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  transition: color 0.2s ease-in-out;
}

.responseOptions button:hover {
  color: black;
}

/* .timestamp {
  font-size: 0.75rem;
  color: #6c757d;
  margin-top: 4px;
}

.aiMessage .timestamp {
  align-self: flex-start;
}

.userMessage .timestamp {
  align-self: flex-end;
} */

.settingsIcon {
  border: none;
  background-color: transparent;
  margin-bottom: 0.2rem;
}

.errorResponse {
  background-color: rgba(255, 0, 0, 0.026);
  color: red;
  padding: 20px 15px;
  border-radius: 10px;
  border: red 1px solid;
}

.userDropdown {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 15px;
  width: 150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
}

.dropdownMenu li,
.dropdownMenuSidebar li {
  padding: 10px;
  cursor: pointer;
}

.dropdownMenu li:hover,
.dropdownMenuSidebar li:hover {
  background-color: #f0f0f0;
}

.dropdownMenu li a,
.dropdownMenuSidebar li a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.logoutBtn{
  border: none;
  background: transparent;
  font-weight: 500;
}

.dropdownMenuSidebar{
  position: absolute;
  top: 100%;
  background-color: white;
  border-radius: 15px;
  width: 150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
}

@media  (max-width: 1200px) {
  .messages {
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {

  .message {
    margin: 1px 0;
  }

  .aiMessage {
    margin-bottom: 1px;
  }

  .messageContent {
    font-size: 14px;
  }

  .tabButtons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .inputContainer {
    padding: 10px;
  }

  .searchButton {
    padding: 0 10px;
  }

  .messages {
    padding: 20px 10px;
  }

  .userMessage .messageContent {
    max-width: 80%;
  }

  .aiMessage .messageContent {
    max-width: 100%;
    border-radius: 10px 10px 10px 10px !important;
  }

  .sidebar {
    position: fixed;
    left: -100%;
    z-index: 1000;
    width: 50% !important;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
  }

  .sidebarOpen {
    left: 0;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 90% !important;
  }
}